<div class="container">
  <h1>New Game</h1>
  <ul class="list-inline">
    <% @letters.each do |letter| %>
    <li class="letter list-inline-item"><%= letter %></li>
    <% end %>
  </ul>
  <p>What is the longest word you can find?</p>
  <form action="/score" class="form-inline" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
    <div class="form-group">
      <input type="text" name="word" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Play!</button>
  </form>
</div>
